<div class="section-home">
  <div class="text-home">
    <h2 class="titulo">Bem-vindo ao Painel de Gestão Afro Records</h2>
    <img src="assets/mini-logo.svg" alt="">
  </div>  
  
  <p>A Afro Records é uma gravadora dedicada a promover e divulgar talentos da música afro-brasileira. Fundada em 2024, 
      nossa missão é apoiar artistas emergentes e proporcionar-lhes a plataforma necessária para alcançar um público mais amplo. 
      Com uma equipe apaixonada e dedicada, estamos comprometidos em produzir música de alta qualidade e inovadora, mantendo sempre as raízes e a autenticidade da cultura afro.</p>
</div>